@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve descripción de Luxury Cars & Cafe</h1>
    <p>
        Luxury Cars & Café fundada en 2012 es una arrendadora moderna que ofrece a sus clientes además de los 
        servicios tradicionales de alquiler de un carro la posibilidad de hacerlo en grande.  Nos dedicamos a
        Alquiler autos lujosos a un excelente precio. Su propietario Tim Burton diseño el concepto de lujo a
        todo nivel ya que además de poder llevarse por unos días autos de ensueño, también le ofrece un servicio
        gourmet para deleitarse con una finísima reposteria en su local.  Con esto los futuros conductores salen
        del local sintiéndose casi millonarios a todo nivel.        
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
