body 
{
background: #febf01; /* Old browsers */
background: -moz-linear-gradient(top, #febf01 0%, #febf01 82%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(82%,#febf01)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #febf01 0%,#febf01 82%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #febf01 0%,#febf01 82%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #febf01 0%,#febf01 82%); /* IE10+ */
background: linear-gradient(to bottom, #febf01 0%,#febf01 82%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */
}
